.NewSchedule{
    .Header{
        display: flex;
        margin-bottom: 16px;
    }

    .Main{
        position: relative;
        display: flex;
        padding: 10px;
        border: 1px solid #c9c9c9;

        .Sidebar{
            width: 320px;
            margin-right: 16px;
            border-right: 1px solid #c9c9c9;
        }

        .Timetable{
            .Days{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(7, 1fr);

                p{
                    margin: 0;
                }
            }
        }
    }
}