.Card{
    position: relative;

    box-sizing: border-box;
    overflow: hidden;

    border: 1px solid white;
    border-radius: 4px;
    
    background-color: #202020;
    color: white;
    
    text-align: center;
    
    width: 100%;
    height: 100%;

    div:first-of-type{
        background-color: rgb(74, 173, 74);
        color: white;
        font-size: 10px;

        &:hover{
            cursor: pointer;
        }
    }

    div:last-of-type{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70%;

        p:hover{
            cursor: pointer;
        }
    } 
}

.Tooltip{
    position: absolute;
    z-index: 999999;
    
    color: #1b1b1b;
    top: 0px;
    left: 0;
    transform: translate(25%, 0);
    width: 300px;

    background-color: white;
    box-shadow: 0 0 4px rgba(0,0, 0, .25);
   
    padding: 12px 0 0;

    .Time{
        padding: 0 12px;
        font-size: 1.25rem;
    }

    .Delete{
        border-top: 1px solid #ebebeb;
        color: #a3a3a3;
        margin-top: 20px;
        padding: 12px;
        font-weight: 400;
        transition: background-color, color, .15s;

        &:hover{
            cursor: pointer;
            background-color: red;
            color: white;
        }
    }

   i {
       font-size: 1.125rem;
       position: absolute;
       right: 10px;
       top: 12px;

       &:hover{
           cursor: pointer;
       }
   }
}