.Button{
    display: flex;
    justify-content: space-between;

    text-decoration: none;
    color: #1b1b1b;

    padding: 0 16px;
    margin-bottom: 24px;

    border:none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    background-color: white;

    width: 420px;

    transition: background-color, transform, .1s;

    &:hover{
        cursor: pointer;
        transform: scale(1.02);
        // background-color: darken(white, 1);
    }

    p{
        font-size: 1.0625rem;
        font-weight: 700;
    }
}